.note-box {
  border: 1px solid #bdbdbd;
  background: #f7f7f7;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
}

.section-title {
  font-size: 32px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 20px;
  }
}